In [62]:
import pandas as pd

In [63]:
res = pd.read_csv('data.csv')

In [65]:
res1 = ['sessao_','transacao_','url_'] + res[['SESSAO', 'COD_TRANS', 'URL']].apply(lambda x: pd.factorize(x)[0]).astype(str)

In [66]:
res1['DATA'] = res.DATA

In [67]:
res1

             SESSAO    COD_TRANS    URL            DATA
0          sessao_0  transacao_0  url_0  20190910092545
1          sessao_0  transacao_1  url_0  20190910092603
2          sessao_0  transacao_0  url_0  20190910092603
3          sessao_0  transacao_2  url_1  20190910092702
4          sessao_0  transacao_3  url_1  20190910092702
...             ...          ...    ...             ...
102722  sessao_9999  transacao_4  url_1  20190910172623
102723  sessao_9999  transacao_3  url_1  20190910172623
102724  sessao_9999  transacao_2  url_1  20190910172623
102725  sessao_9999  transacao_6  url_2  20190910172629
102726  sessao_9999  transacao_5  url_2  20190910172630

[102727 rows x 4 columns]

In [69]:
res1.to_csv('sanitized.csv')